<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title> Book Editor Page </title>
	  
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bookEdit.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='styles/bookEdit.js')}}"></script>
</head>

<body>

	<h1>Fill Book:</h1>
	<!-- Fill Book button -->
	<input type="button" id="ltButton" value="FILL BOOK" onclick="apply()"/> <!--onclick="apply()" -->

	<h1> Edit your book here</h1>
	
	<p id="demo"> </p>

	<div id="container">

		<div id="info_all"> 
			<div id="info_title"> </div> 
			<div id="info_author"> </div>
			<div id="info_chpnum"> </div>
		</div>

		<div id="newWords"> </div>

		<!-- Saving -->
		<form action ="/done" method= "POST">
			<!--Text : <input type="text" name="text"> </br>-->
			<textarea class="textArea" id="info_text" name="new_text"> </textarea>
			<input type="Submit" name="form" value="Save"/>
		</form>

	</br>

		<!-- LaTeX Conversion -->
		<!-- WILL WORK AS SAVE AND END -->
		<form action ="/latex" method= "POST">
			<input type="Submit" name="done" value="PDF"/>
		</form>

	</div>

</body>

</html>