<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>USER PAGE</title>
  
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bookEdit.css') }}">
		<script type="text/javascript" src="{{url_for('static', filename='styles/bookEdit.js')}}"></script>
	
		<!-- BOOTSTRAP-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" > apply(); </script>
  
	</head>

<body>
	
	<!-- -->
	<header class="header">
	
		<!-- Create Navigation bar at the top -->
		<nav class="navbar navbar-style">
			<div class="container">
			
				<!-- Have collapsable menu -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuicon">
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span> <!-- Creates 3 lines -->
					<span class="icon-bar"> </span>
					</button>
				
					<!-- Web Logo here -->
					<a href="http://127.0.0.1:5000/"> <img class="logo" src="logo.jpg"> </a>
				</div>
				
				<!-- Navigation Menu -->
				<div class="collapse navbar-collapse" id="menuicon"> 
				<ul class="nav navbar-nav navbar-right">
				<li><a href=""> Home </a> </li>
				<li><a href=""> My Books </a> </li>
				<li><a href=""> Contact Us </a> </li>
				<li><a href=""> Publishing </a> </li>
				</ul>
				</div>
			</div>
		</nav>
		
		<!-- First row contains account Picture and Name-->
		<div class="container">
		<div class ="row1">
		
			<div class="col-sm-2 banner-chapters" style="background-color:lavender;">
				<div>
					<h1> Chapter List goes Here </h1>
					<p> Chapter: 1 </p>
					<p> Chapter: 2 </p>
					<p> Chapter: 3 </p>
					<p> Chapter: 4 </p>
					<p> Chapter: 5 </p>
				</div>
			</div>
			
			<div class="col-sm-5 banner-textEditor" style="background-color:lavenderblush;"> 
				<h1> Text Editor Here </h1>

				<!-- Saving -->
				<form action ="/done" method= "POST">
					<textarea class="textArea" id="info_text" name="new_text"> </textarea>
					<input class="btn btn-create" type="Submit" name="form" onclick="prevPage()" value="Previous Page"/>

					<!--Page : <div id="info_pageNav" name="pageNav" onclick="nextPage()"> </div> <input type="number" id="info_pageNav" name="pageNav"> </br> -->
					
					<input type="text" id="info_pageNav" name="pageNav"> 
					<!--<div id="info_page" name="pageNav"> </div>-->
					
					<input class="btn btn-create" type="Submit" name="form" onclick="nextPage()" value="Next Page"/>
				</form>
				
			</div>
			
			<div class="col-sm-5 banner-LaTexView" style="background-color:lavenderblush;"> 
				<h1>LaTeX View will be here</h1>

				<div id="info_all"> 
					<div id="info_title"> </div> 
					<div id="info_author"> </div>
					<div id="info_chpnum"> </div>
				</div>

				<div id="newWords"> </div>
				
			</div>
			
		</div> <!-- END ROW2 -->
	</div>

	<div class="container">
		<div class = "row1">
			<div class="col-sm-2 banner-buttons" style="background-color:lavender;">
				<div>
					<a class="btn btn-create" onclick="saveBook()"> Save Book </a>
					
				<div>
			</div>
		</div><!-- END ROW2 -->
	</div><!-- END CONTAINER -->

	<!------------------------------------------------ TEMP ------------------------------------------------->
	<div class="container">
		<div class = "row1">
			<!------ Page Navigation Section --->
			<div class="col-sm-5 banner-buttons" style="background-color:lavenderblush;">
				<div>
					<a class="btn btn-create" onclick="prevPage()"> Previous Page </a> 
					<a class="btn btn-create" onclick="nextPage()"> Next Page </a>
				<div>
			</div>
		</div><!-- END ROW2 -->
	</div><!-- END CONTAINER -->

	<div class="container">
		<div class = "row1">
			<div class="col-sm-5 banner-buttons" style="background-color:lavender;">
				<div>
					<a class="btn btn-create" onclick="italic()"> Italics </a>
					<a class="btn btn-create" onclick="bold()" > Bold </a>
					
				<div>
			</div>
		</div><!-- END ROW2 -->
	</div><!-- END CONTAINER -->

	<!------------------------------------------------ TEMP ------------------------------------------------->
		
	</header><!--  -->
	
</body>

</html>