<!DOCTYPE html>
<html>
<title>KeyWriter-Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
<style>

body, html {
  height: 100%;
  font-family: "Bluebell","Inconsolata", sans-serif;
  background-image: url("/static/img/bback.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


@font-face{
  font-family:"Bluebell";
  src: url("Bluebell.tff") format("embedded-openttype"),
  url("Bluebell.otf") format("opentype");
}

#mainImg{
  margin-left: 30%;
  margin-top: 10%;
}

.menu {
  display: none;
}

#navbar{
  font-family: "Cinzel", sans-serif;
}
</style>

<body>

<!-- Links (sit on top) cover min-height: 55%;
  width: 75%;-->
<div class="w3-top" id="navbar">
  <div class="w3-row w3-padding w3-white"> <!-- Background of the nav bar -->
  
    <div class="w3-col s2" style="margin-left:15%">
      <a href="/home" class="w3-button w3-block w3-teal">HOME</a> <!-- w3-black -->
    </div>
	
    <div class="w3-col s2">
      <a href="/profile" class="w3-button w3-block w3-hover-purple">WRITE/EDIT A BOOK</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/library" class="w3-button w3-block w3-hover-pink">MY LIBRARY</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/soon" class="w3-button w3-block w3-hover-orange" >COMMUNITY</a>
    </div>
	
  </div>
</div>

<!-- Header with image -->
<header class="w3-display-container" style="width:100%; height:100%">   <!-- this is where the img is -->
	<!--<img src="/static/img/book.jpg" alt="Lights" id="mainImg" > -->

  <div class="w3-display-middle w3-center w3-xxlarge w3-padding" >
    <span class="w3-tag w3-padding w3-round-xlarge w3-white" style="width:700px; height: 500px; margin-top: 50px"> Write a Book in Three Easy Steps!</span>


    <span class="w3-tag w3-display-middle w3-white" style="font-family: cinzel; font-size:20px">Go to <a href="/profile">Write/Edit</a> to create a book.</span>

    <span class="w3-tag w3-display-middle w3-white" style="font-family: cinzel; font-size:20px; margin-top: 55px"> Click Finish book in <a href="/profile">my Profile. </a> </span>

    <span class="w3-tag w3-display-middle w3-white" style="font-family:cinzel; font-size:20px; margin-top: 105px"> Download  a PDF of your book in <a href="/library">my Library. </a> </span>

  </div>
</div>
<!--
<div class="w3-container">
  <h2>Slideshow Indicators</h2>
  <p>An example of using buttons to indicate how many slides there are in the slideshow, and which slide the user is currently viewing.</p>
</div>-->
</header>





</body>
</html>
