<!DOCTYPE html>
<html>
<title>KeyWriter-Library</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

#mainImg{
	width:90%;
	height:100%;
	margin-left: 5%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top);-->
<div class="w3-top">
  <div class="w3-row w3-padding w3-white"> <!-- Background of the nav bar -->
  
    <div class="w3-col s2" style="margin-left:15%">
      <a href="/home" class="w3-button w3-block w3-hover-teal">HOME</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/profile" class="w3-button w3-block w3-hover-purple">WRITE/EDIT A BOOK</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/library" class="w3-button w3-block w3-pink">MY LIBRARY</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/soon" class="w3-button w3-block w3-hover-orange" >COMMUNITY</a>
    </div>
	
  </div>
</div>

<!-- Header with image -->
<header class="w3-display-container" style="width:100%; height:100%">   <!-- this is where the img is -->
	<img src="/static/img/red.jpg" alt="Lights" id="mainImg" >
  
  <div class="w3-display-bottommiddle">
    <span class="w3-tag" style="font-size:30px">View your books below!</span>
  </div>
  
  <div class="w3-display-middle w3-center">
    <span class="w3-text-black" style="font-size:90px">MY LIBRARY</span>
  </div>

</header>


<!-- Add a background color and large text to the whole page -->
<div class="w3-pale-red w3-large">

	<!-- Create Popup on Library Books -->
	  <div id="CABPopup" class="w3-modal">
	    <div class="w3-modal-content w3-animate-top w3-card-4">
	      <header class="w3-container w3-teal w3-center w3-padding-32"> 

	        <span onclick="document.getElementById('CABPopup').style.display='none'" 
	       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>

	        <h2 class="w3-wide"><i class="fa fa-book-open w3-margin-right"></i>About This Book</h2> 
	      </header>
	      
	      <div class="w3-container">
	      	<h1> Summary: </h1>
	      <p style="text-align: center;" >Harry Potter's third year at Hogwarts starts off badly when he learns deranged killer Sirius Black has escaped from Azkaban prison and is bent on murdering the teenage wizard.</p>
				
				<button class="w3-button w3-black w3-margin-bottom" style="margin-left: 10%;" >Re-Edit</button>
				<a class="w3-button w3-black w3-margin-bottom" style="margin-left: 10%;"  href="/soon" >Download PDF</a>
				<button class="w3-button w3-red w3-margin-bottom" style="margin-left: 15%;">Delete</button>
	        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
	      </div>
	    </div>
	  </div>


	<!-- About Container -->
	<div class="w3-container" id="about" style="margin-top: 8%;">
		
	    <div class="w3-content" style="max-width:600px;">
			<h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Welcome to your Library!</span></h5>
			<p>Here you can re-edit,download <b>PDF</b> or delete your finished book!</p>
	    </div>
	  
	    <!-- CARD FOR BOOKS -->
	    <div> 
			<div class="w3-third w3-margin-bottom">
			  <img src="/static/img/hp.jpg" style="width:50%" class="w3-hover-opacity" 
			  onclick="document.getElementById('CABPopup').style.display='block'">

			  <div class="w3-container w3-white" style="width:50%">
				<p><b>Harry Potter and the Prisoner of Azkaban. </b></p>
				<p class="w3-opacity">J.K Rowling</br>Fri 27 Nov 2016</p>
			  </div>
			</div>
		</div>
		
	</div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-pink w3-padding-48 w3-large" style="margin-top: 8%">

</footer>

<script>

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('CABPopup');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


</body>
</html>
