<!DOCTYPE html>
<html>
<title>KeyWriter-ComingSoon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

@font-face{
  font-family:"Bluebell";
  src: url("Bluebell.tff") format("embedded-openttype"),
  url("Bluebell.otf") format("opentype");
}

#mainImg{
	width:90%;
	height:100%;
	margin-left: 5%;
}

.menu {
  display: none;
}

#navbar{
  font-family: "Cinzel", sans-serif;
}
</style>
<body>

<!-- Links (sit on top);-->
<div class="w3-top" id="navbar">
  <div class="w3-row w3-padding w3-white"> <!-- Background of the nav bar -->
  
    <div class="w3-col s2" style="margin-left:15%">
      <a href="/home" class="w3-button w3-block w3-hover-teal">HOME</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/profile" class="w3-button w3-block w3-hover-purple">WRITE/EDIT A BOOK</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/library" class="w3-button w3-block w3-hover-pink">MY LIBRARY</a>
    </div>
	
    <div class="w3-col s2">
      <a href="/soon" class="w3-button w3-block w3-orange" >COMMUNITY</a>
    </div>
	
  </div>
</div>

<!-- Header with image
<header class="w3-display-container" style="width:100%; height:100%">
	<img src="/static/img/coming.jpg" alt="Lights" id="mainImg" >
  
  <div class="w3-display-middle w3-center">
    <span class="w3-text-black" style="font-size:90px">COMING SOON</span>
  </div>

</header> -->


<!-- Add a background color and large text to the whole page -->
<div class="w3-pale-blue w3-large">

<!-- About Container -->
<div class="w3-container" id="about" >
	
  <div class="w3-content" style="max-width:700px; margin-bottom:10%;">

    <h5 class="w3-center w3-padding-64">
      <span class="w3-tag w3-wide" style="font-family: Bluebell">What is Community?</span></h5>

    <a href="https://online.flippingbook.com/view/685854/" class="fbo-embed" data-fbo-id="685854" data-fbo-lightbox="yes" data-fbo-width="740px" data-fbo-height="480px" data-fbo-version="1" style="max-width: 100%">Harry Potter and the Philosophers Stone</a><script async defer src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=685854"></script>

    <p style="font-family: Cinzel">Community will allow users from accross KeyWriter to share their books and have a chance at reading other users books! You will be able to like, favourite and store books for reading later.</p>
    <p style="font-family: Cinzel">With the new community features you have the possibility of growing your own fanbase of people who love your stories! </p>
	<p style="font-family: Cinzel">You will also be able to follow your favourite authors on KeyWriter so you are updated on when they create a new book! </p>
	<p style="font-family: Cinzel"> Stay updated as community will be on its way soon! </p>

  </div>
</div>



<!-- End page content -->
</div>



</body>
</html>
