<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>USER PAGE</title>
  
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/userpage.css') }}">
	
		<!-- BOOTSTRAP-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
	</head>

<body>
	
	<!-- -->
	<header class="header">
	
		<!-- Create Navigation bar at the top -->
		<nav class="navbar navbar-style">
			<div class="container">
			
				<!-- Have collapsable menu -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuicon">
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span> <!-- Creates 3 lines -->
					<span class="icon-bar"> </span>
					</button>
				
					<!-- Web Logo here -->
					<a href=""> <img class="logo" src="logo.jpg"> </a>
				</div>
				
				<!-- Navigation Menu -->
				<div class="collapse navbar-collapse" id="menuicon"> 
				<ul class="nav navbar-nav navbar-right">
				<li><a href=""> Home </a> </li>
				<li><a href=""> My Books </a> </li>
				<li><a href=""> Contact Us </a> </li>
				<li><a href=""> Publishing </a> </li>
				</ul>
				</div>
			</div>
		</nav>
		
		<!-- First row contains account Picture and Name-->
		<div class="container">
		<div class ="row1">
		
			<div class="col-sm-3 banner-photo" style="background-color:lavender;">
				<div>
					<!-- Account Photo here -->
					<img class="acc-photo img-responsive img-circle" src="cat.jpg"> </a>	
				</div>
			</div>
			
			<div class="col-sm-9 banner-info" style="background-color:lavenderblush;"> 
				<h1> Welcome Back </h1>
				<p class="username"> Ciara Sastre !</p>
				<p> Click the buttons to get writing or view your gallery below.</p>
				
				<div>
					<!-- Buttons -->
					<a class="btn btn-create" onclick="bookCreate()"> Create a Book </a>
					<a class="btn btn-edit" href="http://127.0.0.1:5000/edit"> Edit a Book </a>
					<a class="btn btn-publish" href="#"> Publish a Book </a>
					<!-- LaTeX Conversion -->
					<!-- WILL WORK AS SAVE AND END -->
					<form action ="/latex" method= "POST">
						<input type="Submit" name="done" value="PDF"/>
					</form>
				</div>
			</div>
			
		</div> <!-- END ROW1 -->
	
		<div class ="row1">	
			<div class="col-sm-3 banner-photo" style="background-color:lavender;">
			</div>

			<div class="col-sm-9 banner-info" style="background-color:lavenderblush;"> 
				<form action ="/book" method= "POST">

				Title : <input type="text" name="title_name"> </br>
				Author : <input type="text" name="author_name"> </br>
				Chapter : <input type="text" name="chapter_number"> </br>
				Text : <input type="text" name="text"> </br>

				<input type="Submit" name="form" value="Create Book"/>

				</form>
			</div>

		</div><!-- END ROW2 -->
	</div>
	
	</header><!--  -->
	
</body>

</html>