<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Project Server 2</title>
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/webpageCss.css') }}">

</head>

<body>

	Name Title Here.
	<form action ="/book" method= "POST">

		Title : <input type="text" name="title_name"> </br>
		Author : <input type="text" name="author_name"> </br>
		Chapter : <input type="text" name="chapter_number"> </br>
		Text : <input type="text" name="text"> </br>

		<input type="Submit" name="form" value="Create Book"/>

	</form>

</body>

</html>