.textArea{
	width: 400px;
	height: 300px;
	
	float:Left;
	resize: none;
	margin: 2px;
	padding: 2px;
	
	border: 1.5px solid grey;
}

*{
	margin:0;
	padding:0;
}

.header
{
	height: 100vh;
}

.navbar-style
{
	box-shadow: 0 5px 10px #efefef;
}

.logo
{
	height: 50px;
	padding: 2px 2px;
}

.icon-bar
{
	background: darkorange;
}

li a
{
	color: #333;
}

a.btn
{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius:20px;
	
	background: transparent;
	border: 1px solid purple;
	color: #333;
}

a.btn:hover
{
	background: white;
	border: 1px solid purple;
	color: black;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}

.banner-chapter, .banner-LateXView, .bannner-textEditor, .bannner-buttons
{
	margin: 30px 0;
}

#info_pageNav
{
	width: 50px;
}
