*{
	margin:0;
	padding:0;
}

.header
{
	height: 100vh;
}

.navbar-style
{
	box-shadow: 0 5px 10px #efefef;
}

.logo
{
	height: 50px;
	padding: 2px 2px;
}

.icon-bar
{
	background: darkorange;
}

li a
{
	color: #333;
}

.acc-photo
{
	padding: 20px 20px;
}

.username
{
	font-size: 50px;
	margin: 20px 0;
	color: darkpurple;
}

a.btn
{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border-radius:20px;
	
	background: transparent;
	border: 1px solid purple;
	color: #333;
}

a.btn:hover
{
	background: white;
	border: 1px solid purple;
	color: black;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}

.banner-info, .banner-photo
{
	margin: 30px 0;
}

.bookCreationSection{
	

}
